In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools as it
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
67,tt3530002,25000000,52395996,The Night Before,Joseph Gordon-Levitt|Seth Rogen|Anthony Mackie...,Jonathan Levine,"Their past, present and future. All in one night.",In New York City for their annual tradition of...,100,Comedy,Sony Pictures|Point Grey Pictures|Good Universe,11/20/2015,6.1,2015
483,tt1456941,27000000,16504936,"Tomorrow, When the War Began",Caitlin Stasey|Rachel Hurd-Wood|Phoebe Tonkin|...,Stuart Beattie,Where were you when everything changed?,"Ellie Linton, a teen from an Australian coasta...",103,Action|Adventure|Drama,Omnilab Media|Ambience Entertainment,8/8/2010,6.5,2010
485,tt1314655,10000000,33583175,Devil,Chris Messina|Jacob Vargas|Bojana NovakoviÄ‡|L...,John Erick Dowdle,Bad Things Happen For A Reason,A group of people trapped in a elevator realiz...,80,Horror|Mystery|Thriller,Universal Pictures|Media Rights Capital|Night ...,1/13/2010,5.6,2010
960,tt0289765,78000000,209196298,Red Dragon,Anthony Hopkins|Edward Norton|Ralph Fiennes|Ha...,Brett Ratner,Before the Silence.,"Former FBI agent Will Graham, who was once nea...",124,Crime|Thriller|Horror,Universal Pictures|Metro-Goldwyn-Mayer (MGM),9/29/2002,6.5,2002
459,tt1126618,40000000,58785180,Morning Glory,Rachel McAdams|Harrison Ford|Patrick Wilson|Je...,Roger Michell,Breakfast TV just got interesting.,When hard-working TV producer Becky Fuller is ...,102,Comedy|Drama|Romance,Bad Robot|Goldcrest Pictures,1/12/2010,6.1,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis=1)

data['month'] = pd.DatetimeIndex(data['release_date']).month
data['original_title_len'] = data.apply(lambda x: len(str(x.original_title)), axis=1)
data['overview_len'] = data.apply(lambda x: len(str(x.overview)), axis=1)

data['genresX'] = data['genres'].apply(lambda row: row.split("|"))
data['directorX'] = data['director'].apply(lambda x: x.split('|'))

dataGenres = data.explode('genresX')

dataDirectorsGenres = dataGenres.explode('directorX')
dataDirectors = data.explode('directorX')

data['castX'] = data['cast'].apply(lambda x: x.split('|'))
dataActors = data.explode('castX')
data['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x), 2)))

data['production_companiesX'] = data['production_companies'].apply(lambda x: x.split('|'))
dataPc = data.explode('production_companiesX')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
data[data.budget == data.budget.max()]['imdb_id']

723    tt1298650
Name: imdb_id, dtype: object

In [7]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) '

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
data[data.runtime == data.runtime.max()]['imdb_id']

1157    tt0279111
Name: imdb_id, dtype: object

In [9]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime == data.runtime.min()]['imdb_id']

768    tt1449283
Name: imdb_id, dtype: object

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
data.runtime.mean()

109.6585494970884

In [13]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.runtime.median()

107.0

In [15]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
data[data.profit == data.profit.max()]['imdb_id']

239    tt0499549
Name: imdb_id, dtype: object

In [17]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [18]:
data[data.profit == data.profit.min()]['imdb_id']

1245    tt1210819
Name: imdb_id, dtype: object

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
len(data[data.revenue > data.budget])

1478

In [21]:
data[data.revenue > data.budget].shape[0]

1478

In [22]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
y2008 = data.query('release_year==2008')
y2008[y2008.revenue == y2008.revenue.max()]['imdb_id']

599    tt0468569
Name: imdb_id, dtype: object

In [24]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
temp = data.query('release_year>=2012 and release_year<=2014')
temp[temp.profit == temp.profit.min()]['imdb_id']

1245    tt1210819
Name: imdb_id, dtype: object

In [26]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [27]:
dataGenres['genresX'].value_counts().head(1)

Drama    782
Name: genresX, dtype: int64

In [28]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
dataGenres[dataGenres.profit > 0]['genresX'].value_counts().head(2)

Drama     560
Comedy    551
Name: genresX, dtype: int64

In [62]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
data.groupby(['director']).sum()['revenue'].sort_values().tail(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [31]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
temp = dataDirectorsGenres.query('genresX==\'Action\'')
temp.groupby(['directorX']).size().sort_values().tail(1)

directorX
Robert Rodriguez    9
dtype: int64

In [33]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
dataActors[dataActors.release_year == 2012].groupby(['castX'])\
    .sum().sort_values(by=['revenue'], ascending=False).head(2)

,budget,revenue,runtime,vote_average,release_year,profit,month,original_title_len,overview_len
castX,,,,,,,,,
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773,24,69,1525
Denis Leary,310000000,1629460639,224,12.6,4024,1319460639,12,48,837

In [35]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
dataActors[dataActors.budget > dataActors.budget.mean()].groupby('castX').size().sort_values(ascending=False).head(2)

castX
Matt Damon      18
Adam Sandler    17
dtype: int64

In [37]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
dataGenres[dataGenres.cast.str.contains('Nicolas Cage')].groupby('genresX').size().sort_values(ascending=False).head(2)

genresX
Action      17
Thriller    15
dtype: int64

In [39]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by=['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,month,original_title_len,overview_len,genresX,directorX,castX,cast_comb,production_companiesX
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,2002,-64831034,7,20,140,"[Thriller, Drama, History]",[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","((Harrison Ford, John Shrapnel), (Harrison For...","[Paramount Pictures, Intermedia Films, Nationa..."

In [41]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
data.groupby('release_year').sum().sort_values(by=['revenue'], ascending=False).head(1)

,budget,revenue,runtime,vote_average,profit,month,original_title_len,overview_len
release_year,,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,842,1601,32445

In [43]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
temp = dataPc[dataPc.production_companiesX.str.contains('Warner Bros')]
temp.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

In [45]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
data.groupby('month').size().sort_values(ascending=False).head(1)

month
9    227
dtype: int64

In [47]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
data[data.month.isin([6, 7, 8])]['imdb_id'].count()

450

In [49]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
dataDirectors[dataDirectors.month.isin([1, 2, 12])].groupby('directorX').size().sort_values(ascending=False).head(2)

directorX
Peter Jackson        7
Steven Soderbergh    6
dtype: int64

In [51]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
data[data.original_title_len == data.original_title_len.max()]['production_companiesX']

1448    [Twentieth Century Fox Film Corporation, Four ...
Name: production_companiesX, dtype: object

In [53]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
dataPc.groupby('production_companiesX').mean().sort_values(by=['overview_len'], ascending=False).head(2)

,budget,revenue,runtime,vote_average,release_year,profit,month,original_title_len,overview_len
production_companiesX,,,,,,,,,
Midnight Picture Show,15000000.0,3533227.0,98.0,5.7,2008.0,-11466773.0,8.0,23.0,1000.0
Room 9 Entertainment,6500000.0,24793509.0,92.0,7.1,2005.0,18293509.0,9.0,21.0,964.0

In [55]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
num = int(len(data) * 0.01)
data[['original_title', 'vote_average']].sort_values(by=['vote_average'], ascending=False).head(num)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
Counter(data.cast_comb.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [59]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '12': 'Drama'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27